STRINGTABLE
BEGIN
start "[šţåŕţ--- П國カ내]"
myPrefix_goon_mySuffix "[ĝö öñ--- П國カ내]"
myPrefix_next_mySuffix "[ñéẋţ- П國カ내]"
myPrefix_last_mySuffix "[ļåšţ- П國カ내]"
myPrefix_time_mySuffix "[ţîɱé- П國カ내]"
END
